/* Settings */
:root {
  --main-color: #118AD9;
  --white-color: #fff;
  --black-color: #000;
}

/* Header { */
#header {display: flex; align-items: center; justify-content: space-between; height: 90px; padding-left: 54px; padding-right: 169px; position: fixed; z-index: 10; width: 100%;}
#hd_logo > a {display: block;}
#hd_logo > a img:last-child {display: none;}
#hd_gnb {}
.depth1 {display: flex; align-items: center; gap: 0 90px;}
.depth1 > li {}
.depth1 > li > a {display: block; color: var(--white-color); font-weight: 500; font-size: 19px;}

.white #hd_logo > a img {display: none;}
.white #hd_logo > a img:last-child {display: block;}
.white .depth1 > li > a {color: var(--black-color);}

.depth2 {display: none;}
/* } Header */

/* Side Menu { */
.side-menu {position: fixed; right: 0; top: 0; width: 90px; height: 100vh; background-color: var(--main-color); z-index: 30; display: flex; flex-direction: column; justify-content: space-between;}
.side-ul {}
.side-ul li {width: 100%; height: 90px; display: flex; align-items: center; justify-content: center;}
.side-ul li:nth-child(2n-1) {background-color: #086FB1;}
.side-ul li:nth-child(2n) {background-color: #097AC5;}
.side-ul li a {display: flex; width: 100%; height: 100%; align-items: center; justify-content: center; flex-direction: column; color: var(--white-color);}
.side-ul li a span:last-child {font-weight: 500; font-size: 15px; padding-top: 9.5px;}
.menu-btn {display: flex; flex-wrap: wrap; gap: 6px; width: 30px; height: 30px; border: none; background-color: transparent; transition: .3s;}
.menu-btn span {display: inline-block; width: 6px; height: 6px; background-color: var(--white-color);}

.side-bottom-ul {padding-bottom: 7px;}
.side-bottom-ul li {position: relative;}
.side-bottom-ul li::after {content: ''; width: 25px; height: 1px; background-color: var(--white-color); position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);}
.side-bottom-ul li:last-child::after {display: none;}
.side-bottom-ul li a {display: flex; align-items: center; justify-content: center; flex-direction: column; height: 54px;}
.side-bottom-ul li a span:last-child {font-weight: 500; font-size: 15px; color: var(--white-color);}
.side-bottom-ul li button {display: flex; align-items: center; justify-content: center; flex-direction: column; border: none; background-color: transparent; margin: 0 auto; height: 54px;}
.side-bottom-ul li button span:last-child {font-weight: 500; font-size: 15px; color: var(--white-color);}
/* } Side Menu */

/* Footer { */
.relation_wrap {border-top: 1px solid #e8e8e8; border-bottom: 1px solid #e8e8e8;}
.relation_slide_box {padding: 16px 0;}
.relation_slide_list {width: calc(100% - 84px); margin-left: -1px; overflow: hidden;}
.relation_slide_list_item {text-align: center; position: relative; display: flex; align-items: center; justify-content: center;}
.relation_slide_list_item::after {content: ''; width: 1px; height: 25px; background-color: #e8e8e8; position: absolute; top: 50%; left: 0; transform: translateY(-50%);}
.relation_slide_list_item:first-child::after {display: none;}
.relation_slide_btn_box {}
.relation_slide_btn_wrap {}
.relation_slide_prev {width: 40px; height: 40px; border-radius: 50%; background-color: #f7f7f7; background: url('/source/img/relation-slide-prev.png') no-repeat center #f7f7f7; border: none;}
.relation_slide_next {width: 40px; height: 40px; border-radius: 50%; background-color: #f7f7f7; background: url('/source/img/relation-slide-next.png') no-repeat center #f7f7f7; border: none;}

.ft_info_wrap {background-color: #fafafa; padding: 28px 0 25px;}
.ft_info_box {position: relative;}
.ft_info_box .add {font-weight: 400; font-size: 16px; line-height: 1.75;}
.ft_info_ul {margin: 0 -23px;}
.ft_info_ul li {font-weight: 400; font-size: 16px; position: relative; padding: 0 23px;}
.ft_info_ul li::before {content: ''; width: 1px; height: 15px; background-color: rgba(0,0,0,0.2); position: absolute; top: 50%; left: 0; transform: translateY(-50%);}
.ft_info_ul li:first-child::before {display: none;}
.ft_info_box .copyright {font-weight: 300; font-size: 16px; color: #888; line-height: 1.625; padding-top: 5px;}
.ft_menu_list {position: absolute; bottom: 0; right: 0; margin: 0 -23px;}
.ft_menu_list li {padding: 0 23px; position: relative;}
.ft_menu_list li::before {content: ''; width: 1px; height: 15px; background-color: rgba(0,0,0,0.2); position: absolute; top: 50%; left: 0; transform: translateY(-50%);}
.ft_menu_list li:first-child::before {display: none;}
.ft_menu_list li a {display: block; font-weight: 400; font-size: 16px; transition: .3s;}
.ft_menu_list li a:hover {font-weight: 600; color: var(--main-color);}
/* } Footer */

/* Intro { */
.intro {position: fixed; top: 0; left: 0; bottom: 0; right: 0; z-index: 300; opacity: 1;}
.intro.off {display: none;}
.intro_circle {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 100vw; height: 100vh; overflow: hidden;}
.intro_circle::after {content: ''; position: fixed; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 200px; height: 200px; border-radius: 50%; border: 100vw solid var(--white-color); padding: 180px; animation: intro 2.5s ease-in-out 1s;  transition: .3s;}
.intro_circle_logo {position: fixed; top: 50%; left: 50%; transform: translate(-50%,-50%); z-index: 1; transition: .3s; opacity: 1;}
.intro_circle_logo.off {opacity: 0;}
.intro_circle_logo svg {transition: .3s;}
.intro_circle_logo svg path {transition: .3s;}
.intro_circle_logo svg path:nth-child(1) {animation: red 2s ease 0.2s;}
.intro_circle_logo svg path:nth-child(2) {animation: yellow 2s ease 0.3s;}
.intro_circle_logo svg path:nth-child(3) {animation: blue 2s ease 0.4s;}
.intro_circle_logo svg path:nth-child(4) {animation: purple 2s ease 0.5s;}

@keyframes intro {
  0% {
    padding: 180px;
  }
  100% {
    padding: 10000px;
  }
}
@keyframes red {
  100% {fill: #E60012;}
}
@keyframes yellow {
  100% {fill: #F4C521;}
}
@keyframes blue {
  100% {fill: #13579F;}
}
@keyframes purple {
  100% {fill: #8A297D;}
}
/* } Intro */

/* Common { */
#contents_dom {padding-right: 90px;}

.main_section02 {background: url('/source/img/main-section02.jpg') no-repeat center/cover;}
.main_section03 {background: url('/source/img/main-section03.jpg') no-repeat center/cover;}
.main_section04 {background: url('/source/img/main-section04.jpg') no-repeat center/cover;}
/* } Common */

/* Main { */
.main_visual_wrap {height: 100%; position: relative;}
.main_visual {height: 100%;}
.main_slide {position: relative; display: flex; align-items: center;}
.slide_img01 {background: url('/source/img/main-visual01.jpg') no-repeat center/cover;}

.slide_text_box {width: 100%; color: var(--white-color); opacity: 0; transition: .3s;}
.slide_text_box.intro-off {opacity: 1;}
.slide_text_box .big_title {font-weight: 700; font-size: 70px;}
.slide_expl_box {margin-top: 46px; padding-left: 91px; position: relative;}
.slide_expl_box::before {content: ''; width: 70px; height: 2px; background-color: #d9d9d9; position: absolute; top: 16px; left: 0;}
.slide_expl_box .title {font-weight: 600; font-size: 32px; padding-bottom: 13px;}
.slide_expl_box .txt {font-weight: 400; font-size: 16px; line-height: 1.625;}

.main_slide_control_box {position: absolute; width: 100%; bottom: 137px; left: 0;}
.main_slide_control {display: flex; align-items: center;}
.main_slide_control .swiper-pagination {position: static; width: auto; color: var(--white-color); font-weight: 500; font-size: 16px;}
.swiper-pagination-current {font-weight: 700; font-size: 18px;}
.main_visual_time {padding: 0 15px;}
.main_visual_time .bar {width: 180px; height: 2px; background-color: var(--white-color); position: relative; z-index: 1;}
.main_visual_time .bar span {position: absolute; height: 100%; width: 0; background-color: var(--main-color); top: 0; left: 0;}
.mv_stop {position: relative; z-index: 1; border: none; background-color: transparent; outline: none;}

.main_contents_box {display: flex; align-items: center; justify-content: space-between;}
.main_contents_list {margin: -20px 0;}
.main_contents_list_item {position: relative; display: block; padding: 20px 0; max-width: 531px;}
.main_contents_list_item_btn {padding-left: 97px; position: relative;}
.main_contents_list_item_btn::before {content: ''; width: 70px; height: 2px; background-color: #999; position: absolute; top: 31px; left: 0; transition: .3s;}
.main_contents_list_item_btn .title {font-weight: 700; font-size: 52px; -webkit-text-stroke: 1px #999; color: transparent; transition: .3s;}
.main_contents_list_item_expl_box {padding-top: 14px; padding-bottom: 25px; display: none;}
.main_contents_list_item_expl_box .content {font-weight: 400; font-size: 16px; color: #666; line-height: 1.5; padding-bottom: 26px;}
.main_contents_list_item_expl_box .baro {font-size: 0;}
.main_contents_list_item_expl_box .baro span {display: inline-block; font-weight: 500; font-size: 16px; color: var(--main-color); vertical-align: middle;}
.main_contents_list_item_expl_box .baro span.icon {background: url('/source/img/icon-right01.png') no-repeat center var(--main-color); width: 30px; height: 30px; border-radius: 50%; margin-left: 11px;}

.main_contents_list_item.active .main_contents_list_item_btn::before {background-color: var(--main-color);}
.main_contents_list_item.active .main_contents_list_item_btn .title {color: var(--main-color); -webkit-text-stroke: 1px var(--main-color);}
.main_contents_list_item.active .main_contents_list_item_expl_box {display: block;}

.main_contents_img_wrap {}
.main_contents_img {border-radius: 10px; overflow: hidden; display: none;}
.main_contents_img:first-child {display: block;}

.nationwide_box {display: flex; align-items: center; justify-content: space-between;}
.nationwide_left {width: 652px;}
.nationwide_left_text_box {color: var(--white-color); padding-bottom: 58px;}
.nationwide_left_text_box .title {font-weight: 700; font-size: 60px;}
.nationwide_left_text_box .text {line-height: 1.625; font-weight: 400; font-size: 16px; color: #dadada; padding-top: 9px;}
.nationwide_list {margin: -2px -2.5px;}
.nationwide_list_item {padding: 2px 2.5px;}
.nationwide_list_item a {display: block; color: var(--white-color); border: 1px solid #d9d9d9; border-radius: 5px; background: url('/source/img/icon-right02.png') no-repeat center right 26px transparent; font-weight: 400; font-size: 18px; padding: 18.21px 25px; transition: .3s;}
.nationwide_list_item a:hover {background: url('/source/img/icon-right02.png') no-repeat center right 26px var(--main-color); border-color: var(--main-color);}

.nationwide_right {}

.main_news_box {}
.main_news_title {font-weight: 800; font-size: 60px; line-height: 1.3; padding-bottom: 29px;}
.main_news_list {border-top: 2px solid #333; border-bottom: 1px solid #333;}
.main_news_list li {border-bottom: 1px solid #E8E8E8;}
.main_news_list li:last-child {border-bottom: none;}
.main_news_list li a {display: flex; align-items: center; padding: 40.31px 0;}
.main_news_list li a .date {font-weight: 700; font-size: 40px; color: #c5c5c5; padding-left: 50px; padding-right: 65px; transition: .3s;}
.main_news_list li a .baro {display: flex; align-items: center; justify-content: flex-end; padding-right: 23px; width: 308px; opacity: 0; transition: .3s;}
.main_news_list li a .baro span {display: inline-block; vertical-align: middle; font-weight: 500; font-size: 16px; color: var(--main-color);}
.main_news_list li a .baro .icon {background: url('/source/img/icon-right01.png') no-repeat center var(--main-color); width: 30px; height: 30px; border-radius: 50%; margin-left: 14px;}
.main_news_text_box {max-width: 874px;}
.main_news_text_box .title_wrap {}
.main_news_text_box .title_wrap .sort {border-radius: 5px; font-weight: 400; font-size: 15px; width: 70px; padding: 2px 0; text-align: center;}
.main_news_text_box .title_wrap .sort.notice {background-color: rgba(17, 138, 217, 0.20); color: #126BA6;}
.main_news_text_box .title_wrap .sort.news {background-color: rgba(29, 186, 183, 0.20); color: #248B89;}
.main_news_text_box .title_wrap .title {font-weight: 500; font-size: 22px; width: calc(100% - 70px); padding-left: 15px; transition: .3s;}
.main_news_text_box .text {font-weight: 300; font-size: 16px; color: #666; line-height: 1.5; margin-top: 11px;}

.main_news_list li a:hover {}
.main_news_list li a:hover .date {color: var(--black-color);}
.main_news_list li a:hover .title_wrap .title {color: var(--main-color);}
.main_news_list li a:hover .baro {opacity: 1;}
/* } Main */